.award
	+block
	flex-direction: column
	padding: 12%
	background-color: #e7e7e7

	&--light
		background-color: #f7f7f7

	&__name
		width: 100%
		margin-bottom: 1vw
		font-family: $font-family
		font-size: 2.2vw
		line-height: 1.2
		text-align: center
		+media(pho)
			font-size: 4.3vw

		span
			display: block
			font-family: $font-family-text
			font-size: 1.2vw
			+media(pho)
				font-size: 3vw

	&__year
		font-family: $font-family
		font-size: 1.6vw
		line-height: 1.6
		font-weight: bold
		font-style: italic
		+media(pho)
				font-size: 3.6vw
