section.awards
	+b.grid.js-scene-7
		+e.col-2-2.jss-awards
			+b.title--light.--awards
				.info-image.info-image--oscar
				h2(data-letters="Awards") Awards
		+e.col-1-2
			+b.image
				+e.overlay
					+e("img").item(src="img/awards/aw2-1.jpg")
				+e.mask
		+e.col-1-2
			+b.image
				+e.overlay
					+e("img").item(src="img/awards/aw3-1.jpg")
				+e.mask
	+b.grid.js-scene-8
		+e.col-1-2
			+b.image
				+e.overlay
					+e("img").item--right(src="img/awards/aw1-1.jpg")
				+e.mask--left
		+e.col-1-1
			+b.award
				+e.H4.name Roman Holiday
					SPAN best actress
				+e.year 1954
		+e.col-1-1
			+b.text--simple
				p.center Hepburn's star on the Hollywood Walk of Fame
		+e.col-1-1.arrow-left
			+b.image
				+e.overlay
					+e("img").item--right(src="img/awards/aw4-1.jpg")
				+e.mask--right
		+e.col-1-1
			+b.award--light
				+e.H4.name Jean Hersholt Humanitarian Award
				+e.year 1965
		+e.col-1-1.arrow-right
			+b.image
				+e.overlay
					+e("img").item(src="img/awards/aw5-1.jpg")
				+e.mask--left
		+e.col-1-1
			+b.text--simple
				p.center Hepburn's handprints at Walt Disney Studios theme park.
