section.secrets
	+b.grid
		+e.col-2-2
			+b.title--bright.--secret
				h2 Secrets
		+e.col-2-2
			+b.quote--dark.--sec1
				p "
				blockquote I heard a definition once: Happiness is health and a short memory! I wish I'd invented it, because it is very true.
				p "
	+b.grid.js-scene-5
		+e.col-2-2
			+b.quote--dark-bright.--sec2
				p "
				blockquote I never think of myself as an icon. What is in other people's minds is not in my mind. I just do my deal.
				p "
		+e.col-1-1
			+b.text--simple
				p For beautiful eyes, look for the good in others
		+e.col-1-1
			+b.image
				+e.overlay
					+e("img").item(src="img/secrets/sec3-1.jpg")
				+e.mask
		+e.col-1-1
			+b.image
				+e.overlay
					+e("img").item(src="img/secrets/sec4.jpg")
				+e.mask
		+e.col-1-1
			+b.text--simple
				p For a slim figure, share your food with the starving ones
	+b.grid.js-scene-6
		+e.col-1-1
			+b.text--simple
				p For beautiful lips, speak only words of kindness
		+e.col-1-1
			+b.image
				+e.overlay
					+e("img").item(src="img/secrets/sec6.jpg")
				+e.mask--right
		+e.col-1-1
			+b.text--simple
				p For beautifel hair, let you child to touch it once a day
		+e.col-1-1
			+b.image
				+e.overlay
					+e("img").item(src="img/secrets/sec5-1.jpg")
				+e.mask--right
