section.bio
	+b.grid.js-scene-0
		+e.col-2-2.jss-bio
			+b.title--light.--bio
				.menu__icon.svg-book
				h2(data-letters="Biography") Biography
		+e.col-2-2
			+b.text
				+e.content
					p Recognised as a film and fashion icon, Audrey Hepburn was active during Hollywood's Golden Age. She was inducted into the International Best Dressed List Hall of Fame. Born in Ixelles, a district of Brussels, Hepburn spent her childhood in Belgium, England and the Netherlands.
					p In Amsterdam, she studied ballet with Sonia Gaskell before moving to London in 1948, continuing her ballet training with Marie Rambert, and then performing as a chorus girl in West End musical theatre pro-ductions.
	+b.grid.js-scene-1
		+e.col-2-1
			+b.text--bright
				+e.content
					p Hepburn had to eat tulip bulbs to survive during World War II.  Audrey’s etalon thinness was the result of metabolic disorder.
		+e.col-1-1
			+b.image
				+e.overlay
					+e("img").item--right(src="img/bio/bio1-1.jpg")
				+e.mask--right
		+e.col-1-1
			+b.image
				+e.overlay--dark
					+e("img").item--right(src="img/bio/bio2.jpg")
				+e.mask--right
	+b.grid.js-scene-2
		+e.col-2-1
			+b.image
				+e.overlay
					+e("img").item(src="img/bio/bio3.jpg")
				+e.mask
		+e.col-2-1
			+b.image
				+b.text
					+e.content
						p Audrey’s mother was a baroness. Nevertheless she served as a housemaid in a rich family to pay for Audrey’s education at Olga Tarasova ballet school.
	+b.grid
		+e.col-2-4
			+b.ARTICLE.post
				+e.item.js-scene-3
					+b.image
						+e.overlay
							+e("img").item--right(src="img/bio/bio4.jpg")
						+e.mask--right
				+e.item
					+b.text.js-scene-3-1
						+e.content
							p Soon after Audrey's final film role, she was appointed a special ambassador to the United Nations Children's Fund (UNICEF). Those close to her say that the thoughts of dying, helpless children consumed her for the rest of her life. She visited countries in Africa and South Asia as part of UNICEF programs. She dedicated herself to spreading awareness of the conditions of these nations and doing what she could to help directly. She worked tirelessly for UNICEF even in the last months of her life.
		+e.col-2-2.right
			+b.quote--dark
				p "
				blockquote I may not always be offered work, but I'll always have my family.
				p "
		+e.col-2-4.right
			+b.image
				+e.overlay
					+e("img").item(src="img/bio/bio5.jpg")
		+e.col-2-2.js-scene-3-2
			+b.image
				+e.overlay--bright
					+e("img").item(src="img/bio/bio7-1.jpg")
				+e.mask
	+b.grid.js-scene-4
		+e.col-2-2
			+b.text
				+e.content
					p Adrey married twice to Mel Ferrer and Andrea Mario Dotti. She had two sons. Sean was born on July 17, 1960, and Luca was born on February 8, 1970.  When Audrey was on a mission in Somali she suffered of terrible stomach aches. She applied to a doctor only when she came back home. Doctor varified cancer. Audrey Hepburn died at the age of 63 in a Swiss city of Toloсhenaz.
		+e.col-2-2
			+b.image
				+e.overlay
					+e("img").item(src="img/bio/bio6.jpg")
				+e.mask
