section.bio
	+b.grid
		+e.2-2
			+b.title--light.--bio
				h2 Biography
		+e.2-2
			+b.text
				p Recognised as a film and fashion icon, Audrey Hepburn was active during Hollywood's Golden Age. She was inducted into the International Best Dressed List Hall of Fame. Born in Ixelles, a district of Brussels, Hepburn spent her childhood in Belgium, England and the Netherlands.
				p In Amsterdam, she studied ballet with Sonia Gaskell before moving to London in 1948, continuing her ballet training with Marie Rambert, and then performing as a chorus girl in West End musical theatre pro-ductions.
	+b.grid
		+e.2-1
			+b.text--bright
				p Hepburn had to eat tulip bulbs to survive during World War II.  Audrey’s etalon thinness was the result of metabolic disorder.
		+e.1-1
			+b.img
				+e.overlay
					+e("img").item(src="img/bio/bio1-1.jpg")
		+e.1-1
			+b.img
				+e.overlay--dark
					img(src="img/bio/bio2.jpg")