+b.footer
	+b.quote-footer Nothing is impossible, 
		br
		|the word itself says I'm possible!
	+b.navigation
		+e.item.jss-scrollto(data-scroll="bio") Biography
		+e.item.jss-scrollto(data-scroll="film") Filmography
		+e.item.jss-scrollto(data-scroll="secrets") Secrets
		+e.item.jss-scrollto(data-scroll="awards") Awards
	+b.shade
