section.films
	+b.grid
		+e.col-2-2
			+b.title--dark.--film
				h2 Filmography
		+e.col-2-4.right.post-film1
			+b.text--post-v
				p In 1951 Audrey began acting in films, mostly in minor or supporting roles. She got into acting mainly to make money so that her mother would not have to work menial jobs to support them. Audrey was then offered a starring role opposite Gregory Peck in the Hollywood motion picture, Roman Holiday. Peck saw her star quality and insisted she share top billing. When asked what her favorite film was, Audrey answered without hesitation, Roman Holiday, because it was the one that made her a star.
			+b.quote--post-v
				p "
				blockquote Opportunities don't often come along. So, when they do, you have to grab them.
				p "
		+e.col-2-2
			+b.video
	+b.grid
		+b.post-film2
			+b.text--post-h
				p Having become one of Hollywood's most popular box-office attractions, Audrey co-starred with other major actors such as Fred Astaire in Funny Face, Humphrey Bogart and Gary Cooper in Love in the Afternoon, George Peppard in Breakfast at Tiffany's, Cary Grant in the critically acclaimed hit Charade, Rex Harrison in My Fair Lady, Peter O'Toole in How to Steal a Million, and Sean Connery in Robin and Marian.
			+b.quote--post-h
				p "
				blockquote People, even more than things, have to be restored, renewed, revived, reclaimed, and redeemed; never throw out anyone.
				p "
