extends layouts/page

block content
	+b.content-wrapper
		include blocks/bio/bio.jade
		include blocks/films/films.jade
		include blocks/secrets/secrets.jade
		include blocks/awards/awards.jade
		include blocks/comments/comments.jade