.text
	+block
	flex-direction: column
	padding: 12.3%
	box-sizing: border-box
	font-family: "FuturaBook", sans-serif
	font-size: 1.5vw
	line-height: 1.8
	color: #202020
	+media(pho)
		font-size: 3.2vw

	&--bright
		background: #77d9d3

	&--post-v
		height: auto

	&--post-h
		position: static
		height: auto
		padding: 0

	&__content
		position: absolute
		top: 0
		left: 0
		padding: 12.3%
		width: 100%
		box-sizing: border-box

	p
		margin: 0
		margin-bottom: 6%
		width: 100%

.fletter::first-letter
	float: left
	font-family: $font-family
	font-size: 4.5vw
	line-height: 1.2
	font-weight: bold
	margin: 0 3% 0 0
	+media(pho)
		font-size: 7.2vw

.js-scene-0 .text__content,
.js-scene-1 .text__content,
.js-scene-2 .text__content,
.js-scene-3 .text__content,
.js-scene-3-1 .text__content,
.js-scene-4 .text__content,
.js-scene-5 .text__content,
.js-scene-6 .text__content,
.js-scene-7 .text__content,
.js-scene-8 .text__content
	top: 20%
	opacity: 0
