.title
	+block
	color: black
	font-family: $font-family
	font-weight: 400

	h2
		margin: 0
		padding-top: 5%
		background-position: 50% 0
		background-repeat: no-repeat
		font-size: 3.5vw
	&--dark
		background: #1d1d1d
		color: #fff

	&--light
		background: #f7f7f7
		color: #3d3d3d

	&--bright
		background: #77d9d3
		color: #3d3d3d
