include _include

doctype html
html
	head
		title Audrey
		meta(charset="UTF-8")
		meta(content="width=device-width, minimum-scale=1, maximum-scale=1", name="viewport")
		
		style.
			body>*{
				visibility: hidden
			}
			.header{
				visibility: visible;
				height: 100vh;
				background-color: #7ccdca;
				font-size: 0;
			}
    
	body
		main
		block main
		link(rel="stylesheet", href="libs/normalize.css")
		link(rel="stylesheet", href="libs/bulma.css")
		link(rel="stylesheet", href="css/style.css")

		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
		script(src="js/menu.js")
		script(src="js/comments.js")