+b.center-wrapper
	+b.overlay
	+b.header
		+b.button.header__menu-btn#phone-menu-open
			.hamburger-box
				.hamburger-inner
		+e.menu
			+b.menu
				+e.item
					+e.SPAN.icon--book
					+e.text biography
				+e.item
					+e.SPAN.icon--film
					+e.text filmography
				+e.item
					+e.SPAN.icon--mask
					+e.text secrets
				+e.item
					+e.SPAN.icon--oscar
					+e.text awards
				+e.item
					+e.SPAN.icon--comment
					+e.text#show-comments leave comment

		+e.slogan-wrapper
			.text-xl Audrey Hepburn
			.text-m «The most beautiful woman of all time»
			.text-s Woman magazine
			.text-s 2006
