body
	.center-wrapper
		.overlay
		.header
			.button.header__menu-btn#phone-menu-open
				.hamburger-box
					.hamburger-inner
			.header__menu
				.menu__item
					span.item__icon.icon-book
					.item__text biography
				.menu__item
					span.item__icon.icon-film
					.item__text filmography
				.menu__item
					span.item__icon.icon-mask
					.item__text secrets
				.menu__item
					span.item__icon.icon-oscar
					.item__text avards

			.header__text-wrapper
				.text.text_size-xl Audrey Hepburn
				.text.text_size-m «The most beautiful woman of all time»
				.text.text_size-s Woman magazine
				.text.text_size-s 2006
