+b.center-wrapper
	+b.overlay
	+b.header
		+b.button.header__menu-btn#phone-menu-open
			.hamburger-box
				.hamburger-inner
		+e.menu
			+b.menu
				+e.item.jss-scrollto(data-scroll="bio")
					+e.SPAN.icon.svg-book
					+e.text biography
				+e.item.jss-scrollto(data-scroll="film")
					+e.SPAN.icon.svg-film
					+e.text filmography
				+e.item.jss-scrollto(data-scroll="secrets")
					+e.SPAN.icon.svg-mask
					+e.text secrets
				+e.item.jss-scrollto(data-scroll="awards")
					+e.SPAN.icon.svg-oscar
					+e.text awards
				+e.item
					+e.SPAN.icon--comment.svg-comment
					+e.text#show-comments leave comment

		+e.text-wrapper
			.text-xl Audrey Hepburn
			.text-m «The most beautiful woman of all time»
			.text-s Woman magazine
			.text-s 2006
